*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Navbar */
nav{
    height: 10vh;
    background: #ecf0f1;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: #7f8c8d;
    text-decoration: none;
    font-size: 16px;
}
/* END Navbar */



/* Mobile */
@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .humburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: #ecf0f1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -14%);
        -webkit-clip-path: circle(100px at 90% -14%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -14%);
        -webkit-clip-path: circle(1000px at 90% -14%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links li a{
        font-size: 25px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    li.fade{
        opacity: 1;
    }
}
/* END Mobile */









body {
  font-family: "Avenir Next";
}

img {
    width: 200px;
    height: 200px;
}
                  
.center { 
    text-align: center;
}

.contents {
    height: 400px;
    margin-top :100px;
}

.section-title {
    border-bottom: 4px solid #dee9ec;            
    font-size: 50px;  
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item  {
    float: left;
    margin-right: 40px;
    font-size: 24px;
    margin-top : 30px;
}

.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}

.kontak-title {
    border-bottom: 4px solid #dee9ec;            
    font-size: 50px;  
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.kontak {
    height: 400px;
    margin-top : 100px;
}

.kontak-item  {
    float: center ;
    font-size: 24px;
    margin-top : 30px;
}

