body {
  font-family: "Avenir Next";
}

img {
    width: 200px;
    height: 200px;
}
                  
.center { 
    text-align: center;
}

.contents {
    height: 400px;
    margin-top :100px;
}

.section-title {
    border-bottom: 4px solid #dee9ec;            
    font-size: 50px;  
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item  {
    float: left;
    margin-right: 40px;
    font-size: 24px;
    margin-top : 30px;
}

.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}

.kontak-title {
    border-bottom: 4px solid #dee9ec;            
    font-size: 50px;  
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.kontak {
    height: 400px;
    margin-top : 100px;
}

.kontak-item  {
    float: center ;
    font-size: 24px;
    margin-top : 30px;
}