body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}

/*HEADER CSS*/

header {
    height: 90px;
    width: 100%;
    background-color: #ECF0F1;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container{
    margin: 0 100px;
}

.header-left {
    float: left;
}

.logo {
    margin-top: 20px;
    height: 55px;
}

.header-right{
    float: right;
}

.header-right a{
    float: left;
    text-decoration: none;
    display: block;
    line-height: 90px;
    padding: 0 24px;
    color: black;
}

.header-right a:hover{
    color: white;
    background-color: #FF4F5B;
    transition: background-color 1s;
}


/*UTAMA CSS*/
.top-wrapper{
    margin-top: 150px;
    height: 700px;
    text-align: center;
}

.item {
    width: 50%;
    float: left;
}

.item-box {
      text-align: center;
      margin: 0 50px;
}

.item img{
    width: 650px;
}

.welcome{
    font-size: 50px;
    margin-top: 150px;
}

.spn {
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.home {
    color: fuchsia;
    size: 240px;
    font-style: inherit;
    margin-right: 10px;
}

.study {
    color: blue;
    size: 240px;
    font-style: inherit;
    margin-right: 10px;
}

.digital {
    color: orangered;
    size: 240px;
    font-style: inherit;
    margin-right: 10px;
}

/*END OF UTAMA CSS*/


/*EXTRA 1 CSS*/
.extra{
    height: 400px;
    padding: 20px 0;
    text-align: center;
    background-color: #f5f5f5;
}


.title{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.extra img{
    width: 500px;
    float: right;
}

.text-area{
    text-align: left;
}

.text-area h1{
    font-size: 50px;
}

/*EXTRA 2 CSS*/
.contents {
    height: 400px;
    text-align: center;
}

.contents-title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.contents-item {
    float: left;
    width: 20%;
    margin-top: 20px;
}

.contents img {
    height: 200px;
}

.contents-item h5{
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 0;
    font-weight: 700;
}

.contents-item p{
    font-size: 16px;
    margin-top: 0;
}

/*FOOTER CSS*/
footer {
    margin-top: 20px;
    height: 180px;
    width: 100%;
    background-color: #ECF0F1;
    text-align: center;
}

footer img{
    margin-top: 30px;
    height: 75px;
    display:
}

/* Navbar */
nav{
    height: 10vh;
    background: #ecf0f1;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: #7f8c8d;
    text-decoration: none;
    font-size: 16px;
}
/* END Navbar */

/*Responsive Web*/
@media screen and (max-width: 1440px) {
    .item img{
        width: 500px;
    }
    .welcome{
        font-size: 50px;
        margin-top: 30px;
    }
    .top-wrapper{
        height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .item-box {
        text-align: center;
        margin: 0;
    }
    .item img{
        width: 350px;
    }
    .welcome{
        margin-top: 0;
    }
    .txt h1{
        font-size: 25px;
    }
    .txt p{
        font-size: 14px;
    }
    .top-wrapper{
        height: 400px;
    }
    .contents {
        height: 350px;
    }
    .title, .contents-title{
        font-size: 20px;
    }
    .contents img{
        height: 150px;
    }
    .contents-item h5{
        font-size: 16px;
    }
    .contents-item p{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .top-wrapper{
        height: 300px;
    }
}

/* Mobile */
@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .humburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: #ecf0f1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -14%);
        -webkit-clip-path: circle(100px at 90% -14%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -14%);
        -webkit-clip-path: circle(1000px at 90% -14%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links li a{
        font-size: 25px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    li.fade{
        opacity: 1;
    }
}
/* END Mobile */
